{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
    <div class="home">
        <div>
            <h2>Ingredients</h2>
            <table class="inventory-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="price">Quantity</th>
                        <th>Unit</th>
                        <th class="price">Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td>{{ ingredient.name }}</td>
                        <td class="price">{{ ingredient.quantity|stringformat:".2f" }}</div></td>                        
                        <td>{{ ingredient.get_unit_display }}</td>
                        <td class="price">€ {{ ingredient.unit_price|stringformat:".5f" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr/>

        <div>
            <h2>Purchases</h2>
            <table class="inventory-table">
                <thead>
                    <tr>
                        <th>Menu Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.menu_item.title }}</td>
                        <td class="price">${{ purchase.menu_item.price|stringformat:".2f" }}</td>
                        <td class="price">${{ purchase.quantity }}</td>
                        <td>{{ purchase.timestamp }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr/>       

    <div>
        <h2>Menu</h2>
        {% for menu_item in menu_items %}   
            <table class="inventory-table">
                <thead>
                    <tr>
                        <th>{{ menu_item.title }} : € {{ menu_item.price|stringformat:".2f" }}</th>                   
                    </tr>
                </thead>
                <tbody>            
                    {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                    <tr>
                        <td>                    
                        {{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.get_unit_display }} {{ recipe_requirement.ingredient.name }}                    
                        </td>                  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>

{% endblock %}