{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Menu</h2>
    <p><a href="{% url 'add_menu_item' %}">Add New Item to Menu</a></p>  
    {% comment %} {% endcomment %}               
    <hr/>
    <ul class="menu-items">
    {% for menu_item in object_list %}
        <li>
            <div class="menu-item-header">
                <div class="menu-item-title"> <a href="{% url "update_menu_item" menu_item.id %}">{{ menu_item.title }}</a></div>
                <div class="menu-item-price">€ {{ menu_item.price|stringformat:".2f" }}</div>
            </div>
            <p><a href="{% url 'add_recipe_requirement_to_menu_item' menu_item.id %}">Add Recipe Requirement</a></p>
            <ul class="menu-item-ingredients">                
                {% for recipe_requirement in menu_item.reciperequirement_set.all %}                
                <li><a href="{% url 'update_recipe_requirement' recipe_requirement.id %} ">
                    {{ recipe_requirement.quantity }}
                    {{recipe_requirement.ingredient.get_unit_display }}
                    {{ recipe_requirement.ingredient.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}